



body {background-image: url(../Images/Mobile&Tablet.jpg);}

#Container {border: black solid 10px;
margin: 0 auto;
background-color: rgb(82, 63, 91);
width: 90%;
border-radius: 10px;
color: white;
 font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;}

.upheader {display: flex;
border: 10px solid black;}

aside{width: 70%;
    float:left;
border: solid black 2px;
}

article {border-top: solid black 2px;
padding: 10px;}

section {padding: 10px;
text-align: center;
border: 10px solid rgb(0, 0, 0);
float: left;}

nav a {
    border: solid pink 2px;
    text-align: center;
    display: block;
    background-color: blueviolet;
    color: black;
    border-radius: 50px;
}



nav a:hover {background-color: yellow;
    color: goldenrod;}

img {margin: 0 auto;
display: block;
width: 100%;}


li a {color: aqua;}

/* Tablet version */

@media (min-width: 760px) {


img {margin: 0 auto;
display: block;
width: 75%;
height: 75%;
}

#Container {background-color: rgb(103, 13, 142);}
}

/* Desktop version */


@media (min-width: 1024px) {

    body {background-image: url(../Images/fodlan-territories.jpg);
        text-align: center;} 
        #Container {background-color: rgb(90, 25, 90);}

        header{font-size: 50px;
        color: rgb(207, 205, 205);}
        
}